.swiper-slide {
  background: linear-gradient(to right, #222831, #393E46);
}

.main-text {
  color: #EEEEEE;
}

#profile-photo {
  width: 600px;
  height: auto;
}

.card {
  height: 75vh;
  width: 100%;
  background-color: #EEEEEE !important;
}

.link-images {
  width: 36px;
  height: auto;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-pagination-bullet {
  background-color: #00ADB5 !important;
}

.projectbutton {
  background-color: #222831 !important;
  border: 2px solid #00ADB5 !important;
  color: #EEEEEE !important;
}

.projectbutton:focus {
  background-color: #00ADB5 !important;
}

.card-title > .row > .col > h2 {
  color: #00ADB5 !important;
  font-weight: bold !important;
}

.card-text {
  color: #222831 !important;
}