.section {
  background: linear-gradient(to right, #222831, #393E46);
  color: #EEEEEE;
}

#profile-photo {
  width: 600px;
  height: auto;
  border-bottom: 3px solid #00ADB5;
}

.link-images {
  width: 36px;
  height: auto;
}

.container > h1 {
  font-size: 80px;
}

.card-text-styling {
  color: #222831;
}

.about-me, .projects, .contact {
  filter: drop-shadow(6px 6px 4px #00ADB5);
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #00ADB5;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.card-heading-styling {
  color: #00ADB5;
  font-weight: bold;
}

.card-heading-styling-lower {
  color: #00ADB5 !important;
}

.custom-align {
  display: table-cell;
  vertical-align: middle;
}